# Bonus: Temperature Analysis I

In [21]:
import pandas as pd
from datetime import datetime as dt

In [22]:
# "tobs" is "temperature observations"
df = pd.read_csv('Instructions/Resources/hawaii_measurements.csv')
df.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [23]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format= '%Y-%m-%d')
df['month'] = df['date'].dt.strftime('%m')

In [24]:
# Set the date column as the DataFrame index
df.set_index("date", inplace=True)

In [26]:
# Drop the date column
station_df = df[["station", "prcp", "tobs", "month"]]
station_df

                station  prcp  tobs month
date
2010-01-01  USC00519397  0.08    65    01
2010-01-02  USC00519397  0.00    63    01
2010-01-03  USC00519397  0.00    74    01
2010-01-04  USC00519397  0.00    76    01
2010-01-06  USC00519397   NaN    73    01
...                 ...   ...   ...   ...
2017-08-19  USC00516128  0.09    71    08
2017-08-20  USC00516128   NaN    78    08
2017-08-21  USC00516128  0.56    76    08
2017-08-22  USC00516128  0.50    76    08
2017-08-23  USC00516128  0.45    76    08

[19550 rows x 4 columns]

### Compare June and December data across all years

In [18]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [32]:
# Identify the average temperature for June
june_df = station_df[station_df["month"] == "06"]
june_temp = june_df["tobs"].mean()
print(round(june_temp, 2))

74.94

In [33]:
# Identify the average temperature for December
dec_df = station_df[station_df["month"] == "12"]
dec_temp = dec_df["tobs"].mean()
print(round(dec_temp, 2))

71.04

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis